[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
channels = "*"
celery = "*"
django-dbbackup = "*"
django-cors-headers = "*"
django-plantgrower = {git = "https://github.com/ConnorWilliams/django-plantgrower.git", ref = "master"}
django-rest-framework = "*"
channels_redis = "*"
Django = "*"
django_celery_beat = "*"
"636fa1d" = {path = "./../django-plantgrower"}

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.6"
