{% load static %}
{# Load the tag library #}
{% load bootstrap3 %}

<!doctype html>
<html lang="en">
  <head>
    <title>Plant Grower</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    {% bootstrap_messages %}
    {% block head %}
    {% endblock %}
  </head>

  <body>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    {% block scripts %}
      <script src="http://code.jquery.com/jquery.min.js"></script>
      {% bootstrap_javascript %}
    {% endblock %}
  </body>
</html>
