{% extends "plantgrower/base.html" %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col">
    <h1>Summary</h1>
    <h2 id='strain'>{{ grow.strain }}</h2>

    <div class="card">
      <h3 class="card-header">Grow Time</h3>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Started on <p id='start_date'>{{ grow.start_date }}</p></li>
        <li class="list-group-item">Has been growing for <p id='grow_time'>{{ grow.grow_time }}</p></li>
      </ul>
    </div>

    <div class="card">
      <h3 class="card-header">Grow Stage</h3>
      <div class="card-block">
        <h4 class="card-title">{{ grow.get_current_stage_display }}</h4>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Stage time: <p id='stage_time'>{{ grow.stage_time }}</p></li>
      </ul>
    </div>

    <div class="card">
      <h3 class="card-header">Lights</h3>
      <div class="card-block">
        <h4 class="card-title">Schedule</h4>
        <p class="card-text">{{ grow.light_duration }}H light and {{ grow.dark_duration }}H dark.</p>
      </div>
      <div class="card-block">
        <h4 class="card-title">Next Change</h4>
        <p class="card-text">Lights will change in <p id='switch_countdown'>{{ grow.switch_countdown }}</p>.</p>
      </div>
    </div>

    <a href="{% url 'plantgrower:editgrow' grow.id %}" method="post">
      <button type="button" class="btn btn-warning">Edit Grow</button>
    </a>
  </div>
</div>
<div class="row">
  <div class="col">
    <h1>Input Devices</h1>

    {% for device_category, devices in input_devices.items %}
    <div class="card">
      <h3 class="card-header">{{ device_category }}</h3>
      {% for device in devices %}
      <div class="card-block">
        <h4 class="card-title">{{ device.name }} {{ device.category }}</h4>
        <p class="card-text">On pin {{ device.pin }}.</p>
      </div>
      {% endfor %}
    </div>
    {% endfor %}

    <a href="{% url 'plantgrower:newinputdevice' grow.id %}" method="post">
      <button type="button" class="btn btn-warning">Add Input Device</button>
    </a>
  </div>

  <div class="col">
    <h1>Output Devices</h1>
    {% for device_category, devices in output_devices.items %}
    <div class="card">
      <h3 class="card-header">{{ device_category }}</h3>
      {% for device in devices %}
      <div class="card-block">
        <h4 class="card-title">{{ device.name }} {{ device.category }}</h4>
        <p class="card-text">On pin {{ device.pin }}.</p>
      </div>
      {% endfor %}
    </div>
    {% endfor %}

    <a href="{% url 'plantgrower:newoutputdevice' grow.id %}" method="post">
      <button type="button" class="btn btn-warning">Add Output Device</button>
    </a>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'plantgrower/js/jquery-3.2.1.min.js' %}"></script>
  <script type="text/javascript" src='{% static "/plantgrower/js/sensor.js" %}'></script>
{% endblock %}
