{% extends "plantgrower/base.html" %}

{% block content %}
<div class="row">
  <div class="col">
    {% include "plantgrower/grow_summary.html" %}
  </div>
</div>
<div class="row">
  <div class="col">
    <h1>Input Devices</h1>
    {% for device_category, devices in input_devices.items %}
      <div class="card">
        <h3 class="card-header">{{ device_category|capfirst }}</h3>
        {% for device in devices %}
          {% include "plantgrower/inputdevice.html" %}
        {% endfor %}
      </div>
    {% endfor %}

    <a href="{% url 'plantgrower:newinputdevice' grow.id %}" method="post">
      <button type="button" class="btn btn-warning">Add Input Device</button>
    </a>
  </div>
  
  <div class="col">
    <h1>Output Devices</h1>
    {% for device_category, devices in output_devices.items %}
      <div class="card">
        <h3 class="card-header">{{ device_category|capfirst }}</h3>
        {% for device in devices %}
          {% include "plantgrower/outputdevice.html" %}
        {% endfor %}
      </div>
    {% endfor %}
  
    <a href="{% url 'plantgrower:newoutputdevice' grow.id %}" method="post">
      <button type="button" class="btn btn-warning">Add Output Device</button>
    </a>
  </div>
</div>
{% endblock %}